.character-container.hide{
    top: -50px !important;
    transition: top .5s ease;
}
.character-container{
    position: fixed;
    top: -113px;
    left: 50px;
    transition: top .5s ease;
}


.character-container > span{
    display:inline-block;
    position:absolute;
    box-sizing: border-box;
}

.character-container > span:not(.mybody){
    box-shadow:         3px 10px 16px #1119; 
    background-color:#ffe0bd;
}
.character-container > span.myhead{
    height:35px;
    width:27px;
    border-radius:100%;
    border:15px solid #111;
    border-right:none;
    border-left:none;
    border-bottom: none;
    background-color:#ffe0bd;
    box-sizing: border-box;
}

.character-container > span.myhair{
    position: absolute;
    background-color: #111;
    width: 35px;
    left: -4px;
    top: 0;
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
    display: none;
    height: 50px;
}

.character-container > span.mybody{
    top:37px;
    left:-1px;
    height:35px;
    width:29px;
    background-color: #09f;
    z-index:1;
    border-radius:5px;
}

.character-container > span.hands{
    height:38px;
    width:7px;
    border-radius:100%;
    border-top:20px solid #035891;
    left:-5px;
    top:38px;
    transform-origin: top center;
    transform: rotate(10deg);
}

.character-container > span.mylhand{
    transform:rotate(-10deg);
    left:25px;
}

.character-container > span.legs{
    height:30px;
    width:10px;
    left:3px;
    top:65px;
    transform-origin: top center;
    transform: rotate(10deg);
    border:3px solid #aaa;
    border-radius:0px 0px 5px 5px;
}

.character-container > span.myrleg{
    transform:rotate(-10deg);
    left:15px;
}


.current-text{
    position: absolute;
    z-index: 10;
    top: -170px;
    left: 80px;
    background-color: #fff9;
    display: inline-block;
    padding: 10px 30px;
    font-size: 10pt;
    box-sizing: border-box;
    border-radius: 50px;
    max-width: 270px;
}
.index-overlay{
    position: fixed;
    bottom:0; 
    left:0;
    background:linear-gradient(to top,#000f, #0000);
    height: 500px;
    width: 100%;
    z-index: 999;
    padding: 20px 50px;
    box-sizing: border-box;
}
.control{
    color: #fff;
    background-color: transparent;
    border:none;
    /* padding:10px; */
    cursor: pointer;
}
.control > .material-icons{
    font-size: 30pt;
}
.control.pause{
    display: none;
}
.presentation-controls{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}
.presentation-video-bar{
    background-color: #999;
    height:3px; 
    width:100%;
    border-radius: 10px;
    margin-top: 14px;
}
.presentation-video-bar > .progress{
    background: linear-gradient(to right, #f0db4f, #f6eb51);
    height: 3px;
    display: inline-block;
    position: absolute;
    
}

.volume > .control.volumeon{
    display: inline-block;
}
.volume > .control.mute{
    display: none;
}

.volume.playing > .control.volumeon{
    display: none;
}
.volume.playing > .control.mute{
    display: inline-block;
}

.github-logo{
    width: 40px;
}
.laptop{
    width: 50px;
    height: 30px;
    background: linear-gradient(#ddd, #999);
    position: absolute;
    top: -75px;
    left: 68px;
    font-size: 9pt;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    box-shadow:         3px 10px 16px #1119; 
    border-radius: 2px;
}
.mic{
    width: 3px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: -75px;
    left: 64px;
    font-size: 9pt;
    text-align: center;
    box-sizing: border-box;
    box-shadow:         3px 10px 5px #111; 
    border-radius: 2px;
}
.mic.one{
    top: -71px;
    left: 50px;
    transform: rotate(20deg);
}
.mic.two{
    left: 77px;
    transform: rotate(-20deg);
}
.github-corner svg{
    width: 70px;
    height: 70px;
}
@media (max-width: 768px) {
    .github-logo{
        width: 30px;
    }
    .current-text{
        left: 20px;
        top: -230px;
        font-size: 9pt;
        background-color: #0008;
        color: #fff;
        border-radius: 5px;
        max-width: 140px;
        padding:10px 10px;
    }
    .presentation-container > .slides-display-container{
        width: 400px;
    }
    .control > .material-icons{
        font-size: 20pt;
    }
    .control.captions{
        outline: none;
        border-bottom: 2px solid #ff0;
    }
    .index-overlay{
        height: 140px;
    }
    .presentation-controls{
        padding: 30px;
    }
    .create-talk-button{
        font-size: 10pt;
        padding: 10px 10px;
    }

    .github-corner svg{
        width: 50px;
        height: 50px;
    }
}